@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Trispace:wght@200;300;400;600;700;800&display=swap');

:root {
    --cor0: rgba(245, 245, 245, 0.863);
    --cor1: #07e629;
    --cor2: rgb(0, 0, 0);
    --cor3: rgb(211, 211, 211);
    --cor4: rgb(67, 67, 67);
    --cor5: rgb(128, 128, 128);
    --cor6: rgba(171, 171, 171, 0.284);
    --font-destaque: 'Roboto Condensed', sans-serif;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    outline: 0;
    margin: 0;
}

/**/
.corpo-fundo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98.9vw;
    background-image: linear-gradient(to bottom, white, rgba(48, 47, 47, 0.175));
}

/*header*/
.cabeca {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.logo {
    padding: 10px;
    font-family: var(--font-destaque);
    background: -webkit-linear-gradient(bottom, #51F469, #07F22B, #07E629, #06BF22, #267331);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-logo {
    text-decoration: none;
}

/*Icones topo*/
.icons {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin: 0 10px;
}

.busca {
    cursor: pointer;
    background-image: url(../Icons/lupa-de-detetive.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    backface-visibility: hidden;
    padding: 10px;
    border: none;
    width: 20px;
    transition: all 1s ease-in-out;
    transform: translateY(0px);
}

.busca:focus {
    display: flex;
    cursor: text;
    width: 200px;
    padding: 10px;
    border-bottom: 2px solid var(--cor1);
    box-shadow: 1px 2px rgba(0, 0, 0, 0.296);
    border-radius: 20px 0px 20px;
    font-family: var(--font-destaque);
    transform: translateY(-2px);
}

.busca:hover,
.carinho:hover {
    transform: translateY(-2px);
}

.carinho {
    cursor: pointer;
    transform: translateY(0px);
    transition: 1s;
}

.links-cabeca {
    display: flex;
    justify-content: end;

}

.links-cabeca-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
    gap: 10px;
}

.links-cabeca-ul li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 10px;
    font-size: 0.8em;
    font-family: var(--font-destaque);
}

.links {
    text-decoration: none;
    color: var(--cor4);
    transition: all 0.5s ease-in-out;

}

.links:hover {
    text-decoration: underline;
    color: var(--cor1);
}

hr {
    display: flex;
    margin-bottom: 10px;
    background-color: var(--cor3);
    border: 1px solid var(--cor3);
}

/*Main*/
.corpo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
}

.titulo-main {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    justify-content: center;
    font-family: var(--font-destaque);
}

[data-anime] {
    opacity: 0;
    transition: all 1s ease-in-out;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40%;
    align-items: flex-start;
    padding: 10px;
    width: 60px;
    border-radius: 0 15px 15px 0px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.364);
    border: 1px solid rgba(0, 0, 0, 0.126);
    transition: all 1s ease-in-out;
}

.redes-sociais a {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.249);
    padding: 5px;
    width: 75%;
    margin: 5px 0;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.134);
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.redes-sociais a svg {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    transition: all 0.5s ease-in-out;
}

.redes-sociais a:hover {
    background-color: rgba(0, 0, 0, 0.836);
}

.redes-sociais a:nth-child(1):hover svg {
    fill: blue;
}

.redes-sociais a:nth-child(2):hover svg {
    fill: rgb(255, 0, 140);
}

.redes-sociais a:nth-child(3):hover svg {
    fill: rgb(20, 146, 20);
}

.redes-sociais a:nth-child(4):hover svg {
    fill: #0e76a8;
}

.alinhamento-video {
    display: flex;
    justify-content: center;
    width: 100%;

}

.alinhamento-video iframe {
    border-radius: 10px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.134);
}


.links-subcabeca {
    margin: auto;
    min-width: 150px;
}

.links-subcabeca ul {
    display: flex;
    margin: auto;
    list-style-type: none;
    gap: 20px;
    align-items: center;

}

.links-subcabeca ul li {
    display: flex;
    font-family: var(--font-destaque);
    padding: 20px;
    margin-right: 10px;
    width: clamp(30px, 60px, 800px);
    justify-content: center;
    margin-bottom: 20px;

}

.corpo-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: var(--cor4);
    border-bottom: 2px solid transparent;
    margin-top: 10px;
}

.corpo-links:hover {
    border-bottom: 2px solid black;
    transition: all 0.5s ease-in-out;
}

.corpo-links:nth-child(1) {
    border-bottom: 2px solid black;
}

.icons-top-center {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.101);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.222);
    width: 800px;
}

.icons-top-center .icons-alinhamento {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.icon-imagens .icon-subtitle {
    margin: auto;
}

.icon-imagens img {
    width: 50px;
}

.icon-imagens .icon-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon-imagens .icon-subtitle p {
    font-size: small;
}

.icon-imagens .icon-subtitle p:nth-child(1) {
    font-weight: bolder;
}

/*Section center, boas vindas*/
.text-top-center {
    display: flex;
    margin: 0px auto;
    margin-top: 20px;
    padding: 10px;
    height: 800px;
    width: 800px;
    gap: 10px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.222);
    transition: all 1s ease-in-out;
    margin-bottom: 50px;
}

.text-top-center .quadrados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.374);
    width: 200px;
    margin: 10px 0;
    height: 400px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.437);
}

.quadrados-alinhamento {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px 0;
    gap: 10px;
    margin: 0 auto;
    word-wrap: normal;
}

.quadrados:hover {
    border: 1px solid black;
    transition: all 1s ease-in-out;

}

.quadrados button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.084);
    border-radius: 10px;
    background-color: var(--cor1);
    color: rgb(69, 69, 69);
    opacity: 0;
    margin: 0 auto;
    width: 100px;
    height: 30px;
    align-items: center;
    transition: all 1s ease-in-out;
}

.quadrados img {
    display: flex;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 5px;
    box-sizing: border-box;
}

.quadrados button span {
    font-family: var(--font-destaque);
}

.quadrados:hover button {
    opacity: 1;
    cursor: pointer;
    transform: translateY(-50px);
}

.produtos-span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    font-family: var(--font-destaque);
}

.produtos-span::before {
    content: 'R$';
    display: flex;
}

.produtos-span::after {
    content: ',00';
}

.span-titte-produto {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    font-family: var(--font-destaque);
}

.rodape {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.092);
    width: 98.6%;
    background-color: #b0b0b0;
}

.links-rodape {
    padding: 10px;

}

.links-rodape ul {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 10px;
}

.links-rodape ul a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in-out;
}

.links-rodape ul li {
    display: flex;
    font-family: var(--font-destaque);
}

.links-rodape ul a:hover {
    text-decoration: underline;
    color: #07F22B;
}

.label-alinhamento {
    margin: 0 auto;
    display: flex;

}

.label-rodape {
    background-image: linear-gradient(to bottom, rgba(0, 255, 85, 0.714), rgba(4, 255, 0, 0.608));
    margin: 1px auto;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.114);

}

.label-rodape h2 {
    font-size: medium;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.label-rodape .button-span {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.132);
    border-radius: 10px;
    margin: auto 0;
    font-family: var(--font-destaque);
    transition: all 0.5s ease-in-out;
}

#feedback {
    display: block;
    width: 100%;
    height: 50px;
    margin: auto 10px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    border: 1px solid transparent;
}

.button-span:hover {
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.114);
    border: 1px solid transparent;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

#feedback:focus {
    border: 1px solid #07E629;
    transition: all 1s ease-in-out;
}